{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Активные голосования</h1>
        {% if user.is_staff %}
            <a href="{% url 'create_election' %}" class="btn btn-success">
                <i class="bi bi-plus-circle me-2"></i>Новое голосование
            </a>
        {% endif %}
    </div>


    <div class="row">
        {% for election in elections %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ election.title }}</h5>
                        <p class="card-text">{{ election.description|truncatechars:100 }}</p>
                    </div>
                    <div class="card-footer">
                       {% if election.is_currently_active %}
                <a href="{% url 'vote' election.id %}" class="btn btn-primary">
                    Проголосовать
                </a>
            {% else %}
                <button class="btn btn-secondary" disabled>
                    Голосование завершено
                </button>
            {% endif %}
                        <a href="{% url 'election_detail' election.id %}" class="btn btn-outline-primary">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-info">Нет активных голосований.</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}